<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NoIP_Updater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <NoIP_Updater.Properties.Settings>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="hosts" serializeAs="String">
                <value />
            </setting>
            <setting name="autostart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="backgroundservice" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="adapter" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ipv4_dt_method" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ipv6_dt_method" serializeAs="String">
                <value>1</value>
            </setting>
        </NoIP_Updater.Properties.Settings>
    </userSettings>
</configuration>